<html>
    <head>
        <title>Metal bands</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/bands">Bands</a>
            <a href="/labels">Labels</a>
        </nav>